.main {
    min-height: 100vh;
    background-color: var(--primary-colour);
  }

  .nav {
    display: flex;
    justify-content: center;
}
.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    background-color: var(--secondary-colour);
    font-size: 1.75rem;
    margin-bottom: 5rem;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 5%;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.button {
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--third-colour);
}

.val {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}